<!DOCTYPE html>
<!-- Thymeleaf 네임스페이스를 정의합니다. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacale=1.0">
    <title>Title</title>
</head>
<body>
    <div th:fragment="main">
        <h1>Welcome to the Main Content</h1>
        <table>
            <tr>
                <td>Row 1, Cell 1</td>
                <td>Row 1, Cell 2</td>
            </tr>
            <tr>
                <td>Row 2, Cell 1</td>
                <td>Row 2, Cell 2</td>
            </tr>
        </table>
    </div>
</body>
</html>