<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>표 태그 예시</title>
    <style>
        table {
            width: 100%;
             border-collapse: collapse;
        }
        th, td{
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>표 태그 예시</h1>

    <table>
        <caption>이것은 표 제목입니다.</caption>
        <thead>
        <th>학번</th>
        <th>이름</th>
        <th>과목</th>
        </thead>

        <tbody>
        <tr>
            <td>001</td>
            <td>김철수</td>
            <td>수학</td>
        </tr>
        <tr>
            <td>002</td>
            <td>이영희</td>
            <td>과학</td>
        </tr>
        <tr>
            <td>003</td>
            <td>박영수</td>
            <td>영어</td>
        </tr>
        </tbody>
    </table>
</body>
</html>