<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동영상 삽입 예시</title>
</head>
<body>
    <h1> 동영상 삽입 예시</h1>

    <video width="640", height="360" controls>
        <source src="https://youtu.be/8wFLOeRJVGQ" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <H1>음악 삽입 예시</H1>

    <audio controls>
        <source src="https:www.example.com/audio.mp3" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
</body>
</html>