<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid mt-3">
        <h1>Post 요청으로 표시되는 페이지</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>지금 이 페이지는 Post로 요청받아 응답한 페이지입니다.</p>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</body>
</html>